// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
 $font-size-root: 20px;

$font-heading: 'Bebas Neue', cursive;
$font-body: 'Zen Kurenaido', sans-serif;

$background-color: #121212;


$text-field-filled-full-width-outlined-single-line-slot-min-height: 30px;
